ul {
	padding: 0;
}

.main-container {
	padding: 2rem;
	min-height: 100vh;
	background-color: rgb(20, 17, 32);
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.form-input {
	padding: 0.75rem;
	outline: none;
	border: 1px solid rgb(247, 247, 247);
	width: 18rem;
}

.form-submit-btn {
	background-color: #666;
	padding: 0.75rem;
	border: 1px solid #666;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.toDo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 24rem;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	border: 2px solid white;
	margin: 1rem 0;
	padding: 1rem;
	font-weight: bold;

	&:hover {
		background-color: #ffffff05;
		outline: 1px solid blue;
	}
}

.toDo-item-col-1 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 5px;
}

.delete-btn {
	padding: 0.5rem;
	color: white;
	background-color: #ff0000cc;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}
